*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container
{
    /* background-color: rgb(136, 114, 156); */
    max-width: 80%;
    padding: 0%;
    margin: auto;
}

.container h1 ,p{
    text-align: center;
    line-height: 40px;
}
h1{
    font-size: 51px;
}
p{
    font-size: 19px;
}
hr{
    width: 80%;
    margin: auto;
    border-top: 2px solid black ;
}

input ,textarea
{
    width: 40%;
    padding: 15px;
    margin: 10px auto;
    font-size: 20px;
    /* margin-left: 41px; */
    border: 3px solid;
    border-radius: 20px;
    display: block;
}

/* button
{

    width: 8%;
    padding: 10px;
    margin: 8px;
    font-size: 20px;
    margin-left: 43px;
    border: 3px solid;
    border-radius: 20px;
    
} */

form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn
{
    color: white;
    background: rgb(16, 9, 112);
    padding: 12px;
    margin: 10px;
    width: 78px;
    border: 2px solid;
    border-color: black;
    border-radius: 13px;
    /* this is used to make the mouse into a pointer when u click thee button. */
    cursor: pointer;
    font-size: 16px;

}

img
{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    
}

.para
{
    color: green;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 1000;
}